<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC
		   "-//mybatis.org//DTD Mapper 3.0//EN" 
		   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		   
<mapper namespace="user_mapper">
	
	<insert id="saveUser" parameterType="User">
		INSERT INTO T_USER VALUES (
			#{id},
			#{pw},
			#{name},
			#{userType}	
		)
	</insert>	
	
	<select id="findUserList" resultType="User">
		select * from t_user
	</select>
	
	
	<select id="findUserById" resultType="User" parameterType="String">
		SELECT * FROM T_USER
		WHERE id = #{id}
	</select>
	
	
	<select id="checkUserLogin" resultType="User" parameterType="User">
		SELECT *
		FROM T_USER
		WHERE id = #{id}
		AND pw = #{pw}
		AND user_type = #{userType}
	</select>
	
	
	<update id="modifyUser" parameterType="User">
		UPDATE T_USER
		SET pw = #{pw},
			name = #{name},
			user_type = #{userType}
		WHERE id = #{id}
	</update>
	
	<update id="modifyUserPw" parameterType="User">
		UPDATE T_USER
		SET pw = #{pw}
		WHERE id = #{id}
	</update>
	
	
	<select id="findUserListBySearchCondition" parameterType="UserSearchCondition" resultType="User">
		
		SELECT *
		FROM T_USER
		<where>
			<trim prefixOverrides="OR" prefix="(" suffix=")">
				<if test="name != null and name != '' ">
					name LIKE '%' || #{searchKeyword} || '%' 
				</if>
				<if test="id != null and id != '' ">
					OR id LIKE '%' || #{searchKeyword} || '%'
				</if>
			</trim>
			<if test="userType != null and userType != '' ">
				AND user_type = #{userType}
			</if>
		</where>
		
		
<!-- 		SELECT * -->
<!-- 		FROM T_USER -->
<!-- 		<where> -->
<!-- 			<if test= " (name != null and name != '') or (id != null and id != '' ) "> -->
<!-- 				( -->
<!-- 					<if test="name != null and name != '' "> -->
<!-- 					 	name LIKE '%' || #{searchKeyword} || '%' -->
<!-- 					</if> -->
<!-- 					<if test="id != null and id != '' "> -->
<!-- 						<if test="name != null and name != '' "> -->
<!-- 							OR id LIKE '%' || #{searchKeyword} || '%' -->
<!-- 						</if> -->
<!-- 						<if test="name == null or name == '' "> -->
<!-- 							id LIKE '%' || #{searchKeyword} || '%' -->
<!-- 						</if> -->
<!-- 					</if>	 -->
<!-- 				) -->
<!-- 			</if>			 -->
<!-- 			<if test="userType != null and userType != '' "> -->
<!-- 				AND user_type = #{userType} -->
<!-- 			</if> -->
<!-- 		</where> -->
		
		
<!-- 		SELECT * -->
<!-- 		FROM T_USER -->
<!-- 		<where> -->
<!-- 			<if test="name != null and name != '' "> -->
<!-- 			 	name LIKE '%' || #{searchKeyword} || '%' -->
<!-- 			</if> -->
<!-- 			<if test="id != null and id != '' "> -->
<!-- 				AND id LIKE '%' || #{searchKeyword} || '%' -->
<!-- 			</if>	 -->
<!-- 			<if test="userType != null and userType != '' "> -->
<!-- 				AND user_type = #{userType} -->
<!-- 			</if> -->
<!-- 		</where> -->
		
		
		
<!-- 		SELECT * -->
<!-- 		FROM T_USER -->
<!-- 		<where> -->
<!-- 			<if test="name != null and name != '' "> -->
<!-- 			 	name LIKE '%' || #{searchKeyword} || '%' -->
<!-- 			</if> -->
<!-- 			<if test="id != null and id != '' "> -->
<!-- 				AND id LIKE '%' || #{searchKeyword} || '%' -->
<!-- 			</if>	 -->
<!-- 		</where> -->
			
		
		
		
		
<!-- 		SELECT * -->
<!-- 		FROM T_USER -->
<!-- 		WHERE  -->
<!-- 			1=2  -->
<!-- 		<if test="name != null and name != '' "> -->
<!-- 			OR name LIKE '%' || #{searchKeyword} || '%' -->
<!-- 		</if> -->
<!-- 		<if test="id != null and id != '' "> -->
<!-- 			OR id LIKE '%' || #{searchKeyword} || '%' -->
<!-- 		</if> -->
		
		
<!-- 		SELECT * -->
<!-- 		FROM T_USER -->
<!-- 		WHERE  -->
<!-- 			1=1  -->
<!-- 		<if test="name != null and name != '' "> -->
<!-- 			AND name LIKE '%' || #{searchKeyword} || '%' -->
<!-- 		</if> -->
<!-- 		<if test="id != null and id != '' "> -->
<!-- 			AND id LIKE '%' || #{searchKeyword} || '%' -->
<!-- 		</if> -->
		
	</select>
	
	
</mapper>
















